@{
    ViewData["Title"] = "Panel";
}

<div class="text-center">
    <h1 class="display-5">!Bienvenido!</h1>
    <img src="/img/recursos/inicio.png" alt="Inicio" class="img-fluid my-4" style="max-width: 300px;">
    <p> Para soporte contacte <a href="desarrollo@polimerida.com"> Departamento TIC </a>.</p>
</div>
