@model Polimerida_CAP.Models.DepartamentoViewModel

@{
    ViewData["Title"] = "Editar Departamento";
}

<div class="content-header">
    <div class="container-fluid">
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="Edit" asp-route-id="@Model.IdDepartamento" method="post">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del Departamento</h3>
                        </div>
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="IdDepartamento" />

                            <div class="form-group">
                                <label asp-for="Descripcion"></label>
                                <input asp-for="Descripcion" class="form-control" placeholder="Descripción del departamento">
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>


                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar Cambios</button>
                            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 