@model Polimerida_CAP.Models.UserRequest;
@{
    ViewData["Title"] = "Login";
    // This view is used to render the login page.
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; // Use the custom login layout
}





<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CAP | @ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-overlay">
        <div class="login-title">
            Sistema de Asistencias
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingresa tus credenciales para iniciar sesión</p>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Nombre de usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="login-footer mt-4">
            <img src="/img/recursos/LogoPolimerida2024ok.png" alt="Polimerida Logo" style="max-width: 220px; width: 100%;">
        </footer>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

