<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | Polimerida CAP</title>

    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/lib/adminlte/css/adminlte.min.css" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Login" asp-action="Logout">
                        <i class="fas fa-sign-out-alt"></i> Salir
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="/img/pdepolie.ico" alt="Polimerida Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Polimerida CAP</span>
            </a>

            <div class="sidebar">
@*                 <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Usuario Logueado</a>
                    </div>
                </div> *@

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Panel Principal</p>
                            </a>
                        </li>
                        <li class="nav-header">GESTIÓN</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>Catálogos<i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Turnos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Turnos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Departamentos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Departamentos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Grupos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Grupos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Puestos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Puestos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Empleados" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Empleados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Usuarios" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Dispositivos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dispositivos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Subgrupos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Subgrupos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Incidencias" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Incidencias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Festivos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Días Festivos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header">ASIGNACIÓN DE INCIDENCIAS</li>
                        <li class="nav-item">
                            <a asp-controller="IncidenciaEmpleado" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user-times"></i>
                                <p>Incidencias de Empleados</p>
                            </a>
                        </li>
                        <li class="nav-header">REPORTES</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>Reportes<i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Reportes" asp-action="Semanal" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Reporte Semanal</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-clock"></i>
                                <p>
                                    Asignación de Turnos
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="AsignarTurnos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>A un Subgrupo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AsignarTurnos" asp-action="Empleado" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>A un Empleado</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AsignarTurnos" asp-action="EmpleadoMultiple" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>A varios empleados</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Versión 1.0
            </div>
            <strong>Copyright &copy; 2024-@DateTime.Now.Year <a href="#">Polimerida CAP</a>.</strong> Todos los derechos reservados.
        </footer>

    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/adminlte/js/adminlte.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>